.bg-dangers{
    background-color: #D80808;
}
.bg-successes{
    background-color: #007a37;
}.bg-primarys{
    background-color: #D80808;
}
body{
    overflow-x: hidden;
    /* font-family: 'Tw Cen MT', sans-serif; */
    /* font-family: 'Nunito', sans-serif;     */
    font-family: 'Futura PT', sans-serif;
    scroll-behavior: smooth;
                                                
}
/* ==========Navbar=========== */
.navbar{
    transition: all 0.5s;
    
}

.scrollednavbar{
  background-color: #f5f9f6; 
  color: white !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* ==========Navbar=========== */
/* ==========Header=========== */
.header
{
    background-image:  linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("imgs/kndc.jpg");
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    
    padding-top: 50px;

}
.header-text
{
    padding: 100px;
    text-align: center;
    color: white;
}
/* ==========Header=========== */

/* ==========Services=========== */

/* ==========Services=========== */

/* ==========About Us=========== */

/* ==========About Us=========== */

/* ==========Product card=========== */
.productcard
{
    padding: 10px;
    align-items: center;
    text-align: center;
}
.btncard
{
    color: white;
    background-color: #008234;
    border-radius: 20px;
    border: 0px;
}
/* ==========Product card=========== */






